<div class="row">
<% @movies.each_with_index do |movie, index| %>


  <div class="col-lg-3 mb-5">
  <%= link_to "?#{movie.id}", 'data-bs-toggle':"modal", 'data-bs-target':"#exampleModal#{index}" do %>
      <div class="card">
        <%= image_tag "https://image.tmdb.org/t/p/w500/#{movie.poster_url}" %>
        <card-body>


        </card-body>
      </div>
  <% end %>
    </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal<%=index%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= movie.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= movie.overview %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to 'Add movie to a list', new_movie_bookmark_path(movie), class:'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>

<% end %>

  </div>
